/* Styles go here */

section {
    border:1px solid black;
    margin:5px;margin-bottom:15px;padding:8px;

}
.TableReservationDetails
{
    float:left;
    box-sizing:border-box;
    padding:5px;
}
.divEdit:after
{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
