/* Styles go here */


/* for footer */

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -55px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 55px; /* .push must be the same height as .footer */
}




.header
{
    box-sizing:border-box;
    border:1px solid black;
    height:10em;
    background-color: rgba(25, 172, 180, 0.5);
}


.divNav
{
    text-align:center;
}
.divNav:before
{
    content:".";
    visibility: hidden;
    display: block;
    height: 2em;
}
.menu
{
    padding:10px;
}
introduction
{
    display:block;
}
.description
{
    text-align: center;
}
.description:after,.description:before
{
    content:".";
    visibility: hidden;
    display: block;
    height: 5em;
}


.divEditReservationDetails,.divReservationDetails,.divEdit
{
    text-align:center;
    margin:10px;
}
.TableReservationDetails,.EditReservationDetails
{
    box-sizing:border-box;
    padding:5px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    margin:10px;
}

.divleft,.divright
{
    float:left;
    width:50%;

}
.divCreateReservation,.divEditReservation
{

    text-align: center;

    display:block;

}

.divNav:after,section:after,.divReservationDetails:after,.divEditReservationDetails:afterr{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.divReserve:after,.divProfile:after
{
    content:".";
    visibility: hidden;
    display: block;
}

.sectionReservation,.sectionProfile
{
    text-align: center;
    border:1px solid black;
    margin:5px;margin-bottom:15px;padding:8px;
}

.reserve,.spanProfile
{
    box-sizing:border-box;
    padding:5px;
}

.divFooter
{
    text-align:center;

}